# .gitlab-ci.yml for the guesswhoui service

stages:
  - build
  - deploy

# This job builds the Next.js static site.
build:
  stage: build
  image: node:18
  script:
    - npm install
    - npm run build
  artifacts:
    paths:
      - out/
    expire_in: 1 hour

# This job deploys the built site to Google Cloud Storage.
# It only runs on merges to the main branch.
deploy:
  stage: deploy
  image: google/cloud-sdk:latest
  script:
    # Authenticate with Google Cloud using Workload Identity Federation.
    # The CI_JOB_JWT_FILE is a temporary file containing a JWT that is
    # automatically created by GitLab.
    - gcloud iam workload-identity-pools create-cred-config "${WORKLOAD_IDENTITY_PROVIDER}" --service-account="${SERVICE_ACCOUNT_EMAIL}" --output-file=.gcp_cred_config.json --credential-source-file=$CI_JOB_JWT_FILE
    - gcloud auth login --cred-file=.gcp_cred_config.json
    - gcloud config set project ${GCP_PROJECT_ID}

    # Sync the 'out' directory with the GCS bucket.
    - gcloud storage rsync --recursive --delete-unmatched-cache-control out/ gs://${GCS_BUCKET_NAME}
  rules:
    - if: $CI_COMMIT_BRANCH == "main"