name: CI

on:
  pull_request:
    types: [closed]
permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  build-and-deploy:
    runs-on: self-hosted
    if: github.event.pull_request.merged == true

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: Install Dependencies
      run: npm install --prefix guesswhoui
    - name: Run npm run build
      run: npm run build --prefix guesswhoui